@import "tailwindcss";

:root {
  --tree-scrollbar-gutter: 10px;
}

@layer utilities {
  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid transparent;
    background-clip: padding-box;
    border-radius: 9999px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 3px solid transparent;
    background-clip: padding-box;
  }
}
